@charset "utf-8";
/* CSS Document */

body {
   	background-image: url("../img/fondo.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;

    font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}


#ContPrincipal {
    background-image: url("../img/fondo.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;
    margin: 0;
}

/* ESTILOS PARA EL HEADER */

.ContHeader {
    background-image: url("../img/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
	text-align: left;
	padding: 20px;
    
}


/** ESTILOS DE LAS PELICULAS**/

.ContPeliculasCompleto {
	background-color: #04316E; /** color azul **/
    
	background-image: url("../img/fondo.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment:fixed;

    
}

.ContPelicula {
	background-color: hsla(225,9%,18%,0.87); /**negro**/
	margin: 20px auto 20px auto;
	width: 80%;
	padding: 20px;
	outline-style: solid;
	outline-color: hsla(226,21%,28%,1.00);
	outline-width: 3px;
	display: flow-root;
}

.MovieFoto {
	float: left;
	background-color: hsla(225,9%,18%,0.87); /**negro**/
	
}

.MovTitle {
	width: 80%;
	float: left;
	background-color: hsla(226,88%,63%,0.52); /**azul**/
	padding: 20px;
	
}


.MovieDescription {
	width: 80%;
    line-height: 24px;
	float: left;
    background-color: hsla(226,88%,63%,0.52); /**azul**/
	 color: #77C7F4;  /** celeste **/
	padding: 20px;

}

.Favoritos {
	float: left;
	width: 100%;
}

.LasFotos {
	background-color: hsla(226,26%,22%,0.87); /**azul**/
	padding: 5%;
	float: left;
	width: 23.33%;
	text-align: center;
}

.limpiador {
	clear: both;
}

.ContFooter {
    color: hsla(210,12%,42%,1.00);
	width: 90%;
	padding: 5%;
	background-color: hsla(235,58%,4%,0.88);
	font-size: 20px;
	outline: 20px solid #000000;
    margin-top: 100px;
			
}

.FooterNombre {
	float: left;
}

.FooterCarne{
	float: right;
}

h2 {
    color: #F8C902;
    font-family: 'Lora', serif;
}

h1 {
    color: #6484EC;
    font-family: 'Lora', serif;
    font-size: 100px;
}
